:root {
   --base: #ffc600;
   --spacing: 10px;
   --blur: 0px;
   /* ADD */
   --grayscale: 0%;
   --brightness: 100%;
   --contrast: 100%;
}

img {
  padding: var(--spacing);
  background: var(--base);
  /* ADD */
  filter: blur(var(--blur)) grayscale(var(--grayscale)) brightness(var(--brightness)) contrast(var(--contrast));
}

.hl {
  color: var(--base);
}

/*
  misc styles, nothing to do with CSS variables
*/

body {
  text-align: center;
  background: #193549;
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 10%;
}